<div class="container">
  <form [formGroup]="form">
    <div class="my-4">
      <app-input-field
        [control]="$any(form.get('name'))"
        [type]="'text'"
        [name]="'name'"
        [label]="'Name'"
        [placeholder]="'Enter name'"
        (keyupValue)="onNameKeyUp($event)"
        (enterPressed)="onNameEnterPressed($event)"
      ></app-input-field>
    </div>

    <div class="my-4">
      <app-input-field
        [control]="$any(form.get('email'))"
        [type]="'email'"
        [name]="'email'"
        [label]="'Email'"
        [placeholder]="'Enter email'"
      ></app-input-field>
    </div>

    <div class="my-4">
      <app-input-field
        [control]="$any(form.get('password'))"
        [type]="'password'"
        [name]="'password'"
        [label]="'Password'"
        [placeholder]="'Enter password'"
        [iconAfter]="'eye'"
        [iconAfterHide]="'eye-slash'"
        [isShowHide]="true"
        (iconClicked)="onPasswordIconClicked($event)"
      ></app-input-field>
    </div>

    <div class="my-4">
      <app-input-field
        [control]="$any(form.get('age'))"
        [type]="'number'"
        [name]="'age'"
        [label]="'Age'"
        [placeholder]="'Enter your age'"
      ></app-input-field>
    </div>
  </form>
</div>
