html,
body {
  margin     : 0px;
  padding    : 0px;
  font-family: Lato;
  font-size  : 16px;
}

a,
i,
.pointer {
  cursor: pointer;
}

/* set css variables as Toggler comonent colors */
// :root {
//   --togglerColor   : lightgreen;
//   --togglerBgColor : darkgreen;
//   --primary-color  : #3f51b5;
//   --secondary-color: #ff4081;
// }

@import "node_modules/bootstrap"; ///scss/_variables";

$primary  :#3f51b5;
// var(--primary-color) !;
$secondary: #ff4081;
// var(--secondary-color);

// $theme-colors: map-merge($theme-colors, ("primary": $primary));
// @import "bootstrap";

$theme-colors: ("primary": #00d904,
  "danger": #ff4136);